.navbar {
  width: 18%;
  height: 1011px;
  background-color: #f0f3f2;
  box-sizing: border-box;

  &__toggle-btn {
    position: absolute;
    top: 40px;
    left: 255px;
  }

  &__nav-toggle-wrap {
    margin-top: 120px;
    padding-left: 46px;
  }
}
