.result {
  height: 324px;

  &__container {
    @include content-area();
  }

  &__list {
    padding-top: 120px;
  }

  &__item {
    display: inline-block;
    width: 290px;
    text-align: center;
  }

  &__data {
    padding-bottom: 22px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: ($font-size + 34);
    line-height: $line-height + 5;
    font-weight: normal;
    color: #3c3950;
  }

  &__text {
    font-family: $font-family;
    font-size: $font-size + 8;
    font-weight: 300;
    line-height: $line-height;
    color: #7d7b8a;
  }
}
