$screen-s:                    320px;
$screen-xs-content:           292px;

$screen-m:                    768px;
$screen-m-content:            740px;

$screen-lg:                   1200px;
$screen-lg-content:           1180px;

$screen-xl:                   1920px;
$screen-xl-content:           1806px;

$text-color:                  #000;

$font-family:                 'Open Sans', sans-serif;
$font-size:                   16px;
$line-height:                 25px;
